*{
    padding: 0;
    margin: 0;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
    background-color: #b8c6db;
    background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 74%);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container{
    width:600px;
    background-color: #b8c6db;
    box-shadow: 0 0 25px #000000;
    padding: 20px 0;
    border-radius: 20px;
}
h1{
    margin: 20px;
    font-size: 70px;
}
button{
    /* width: 170px;
    height: 35px; */
    padding: 1rem 2rem ;
    margin: 0.5rem;
    font-family: inherit;   
    background-color: #e3eaf3 ;
    border-radius: 10px;
    font-weight: bold;
    font-size: large;
    border: 0.5px solid gray;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);

}

button:hover{                                   /*When you hover on the button*/
    background-color: #ccd9ee;
    color: red;
}
button:active{                                 /*when you click on the button*/
    background-color: #43546d;
}